[Unit]
Description=Monitoring Agent Linux
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/monitoring-agent.env
ExecStart=/opt/monitoring-agent/monitoring-agent
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

