DJANGO_SETTINGS_MODULE=config.settings
DJANGO_SECRET_KEY=CAMBIAR_ESTE_SECRETO
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=monitor.local,IP_DEL_SERVIDOR
DATABASE_URL=postgresql://monitoring:CAMBIAR_ESTA_CLAVE@localhost:5432/monitoring
REDIS_URL=redis://localhost:6379/0
TIME_ZONE=America/Santiago
AGENT_SHARED_SECRET=CAMBIAR_SECRETO_DE_AGENTES
